@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

div {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 23%;
}

div h1 {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}